.venv
Tareas/Tarea - Pandas, Polars y gráficas/fhv_tripdata_2025-01.parquet
Tareas/Tarea - Pandas, Polars y gráficas/green_tripdata_2025-01.parquet
Tareas/Tarea - Pandas, Polars y gráficas/fhvhv_tripdata_2025-01.parquet
Tareas/Tarea - Pandas, Polars y gráficas/yellow_tripdata_2025-01.parquet